# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
app/.output/
app/dist/
app/dist
infra/dist/
infra/cdk.out/

# Nuxt
app/.nuxt/
app/.nitro/
app/.cache/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.local
.env.*.local

# CDK
*.cdk.staging
cdk.context.json
